@media (min-width: 768px){
.career-name{color:green !important;}

.full-name{
  margin-top:21%;
  margin-left:4%;
  color:#fff;
}

.fa-stack{
    font-size: 11px!important;
}

.social-network{
 margin-top:6%;
}

.img-mark:after{
  content: "";
  border-left: 0px black solid;
  border-top:1px black solid;
  width: 250%;
  top:98%;
  position: absolute;
}

.top-margin-small{
    margin-top: 10%;
  }

  /*.hexagono-shape{
    display:inline-flex;
    position:relative;
    width: 42px;
    height: 31px;
    background-color:rgb(81, 78, 78);
    justify-content: center;
  }

  .hexagono-shape:before,
  .hexagono-shape:after{
    content:"";
    width:0;
    position:absolute;
    border-left: 22px solid transparent;
    border-right: 20px solid transparent;
  }
  .hexagono-shape:before{
    bottom:100%;
    border-bottom: 13px solid rgb(81, 78, 78);
  }

  .hexagono-shape:after{
    top:100%;
    width:0;
    border-top:13px solid rgb(81, 78, 78);
  }

  .hexagono-shape span{
    color:#FFFFFF;
  }
  .title_box{
    margin-top: 9%;
    margin-bottom: 5%;
  }*/


}
