@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
*{
  font-family: Roboto Condensed;
}

.small_side,.large-side{
  padding-top:3%;
  padding-left:5%;
  padding-right:5%;
}
.small_side{
  background-color:#C1C1C1;/*#B9B9B9;*/
  m
}
.large-side{
  background-color:#E5E3E3;
}
p{
  color:#727272;
  font-size:90%;
  line-height: 25px;

}
.title-blue{
color:#66B2FF;
}
.title{
 padding: 0px;
 margin: 0px;
 font-size: x-large;
 text-align: center;
 color:#66B2FF;
}

.sub-title{
  padding: 0px;
margin: 0px;
font-size: large;
text-align: center;
}

.persone-name-title{
   margin-top: 3%;
}

.persone-category-title{
margin-bottom: 12%;
}


.img-mark{
  border: 2.5px solid black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding:4%;
  margin: 0 auto;
}
.img-portfolio{
      width: 100%;
      margin: 0 auto;
}

.hexagono-shape{
  display:inline-flex;
  position:relative;
  width: 42px;
  height: 31px;
  background-color:#66B2FF;
  justify-content: center;
}

.hexagono-shape:before,
.hexagono-shape:after{
  content:"";
  width:0;
  position:absolute;
  border-left: 22px solid transparent;
  border-right: 20px solid transparent;
}
.hexagono-shape:before{
  bottom:100%;
  border-bottom: 13px solid #66B2FF;
}

.hexagono-shape:after{
  top:100%;
  width:0;
  border-top:13px solid #66B2FF;
}

.hexagono-shape span{
  color:#FFFFFF;
}
.title_box{
  margin-top: 9%;
  margin-bottom: 10%;
}
.line_box{
    display: inline;
    position: relative;
    width:0;
}
.line_box:after{
content:"";
position:absolute;
border-left: 77px solid black;
width: 282px;
border-top:1px solid red;
top:100%;
}
.paragraph{
  padding-left:5%;
  padding-right:5%;
  text-align: justify;
}

.company-name{
   display: list-item;
}

@media all and (max-width: 768px){
  p{color:blue !important;}
 .small_side .line_box:after{
      width: 508px;
    }
    .large-side .line_box:after{
      width:504px;
    }
}
@media (min-width: 768px){
  p{color:black !important;}
   .large-side .line_box:after{
  width: 530px;
}
.small_side{
  min-height: 258%;
}
}
@media all and (min-width: 992px){
  p{color:green !important;}
   .large-side .line_box:after{
      width: 659px;
    }
    .small_side{
      min-height: 258%;
    }
}
@media all and (min-width: 1200px){
 .large-side .line_box:after{
       width: 706px;
 }
 .small_side .line_box:after{
       width: 282px;
 }
.small_side{
  min-height: 258% !important;
}
   p{color:red !important;}
}
