@media all and (min-width: 1200px){


   main{
     background-image: url('../image/library.jpg');
    }

  h5{color:blue!important;}
    .title-blue{
    color:#66B2FF;
    }

    .title{
     padding: 0px;
     margin: 0px;
     font-size: x-large;
     text-align: center;
     color:#66B2FF;
    }

    .full-name{
      margin-top:9%;
      margin-left:4%;
    }


      .img-mark{
        width: 143px;
        height: 145px;
      }

    .img-mark:after{
      content: "";
      border-left: 0px black solid;
      border-top:1px black solid;
      width: 254%;
      top:98%;
      position: absolute;
    }

    .career-container {
    padding-left: 3.1%;
  }
}
