@media all and (max-width: 768px){
h5{color:gray !important;}

.full-name{
  margin-top:25%;
  margin-left:8.3%;
}

.img-mark:after{
  content: "";
  border-left: 0px black solid;
  border-top:1px black solid;
  width: 227%;
  top:98%;
  position: absolute;
}
}
