@media all and (max-width: 768px){
.career-name{color:orange !important;}


.img-mark{
  width: 120%;
  height: 0;
}

.full-name{
  margin-top:17%;
  margin-left:0;
  color:#fff;
}

.career-container{
    margin-top: 32%;
    margin-left: 0;
    margin-bottom: 3%;
}
.career-name{
  padding: 0px;
  margin: 0px;
}



.img-mark:after{
  content: "";
  border-left: 0px transparent solid;
  border-top:1px transparent solid;
  width: 0%;
  top:98%;
  position: absolute;
}



.color-white{
  color:#fff;
}

/*.social-network-1{
  text-align: start;
}
/*.social-network-2{
  margin-left: 17.2%;
}
.social-network-3{
    margin-right: -36%;
}*/

}
