@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
*{
  font-family: Roboto Condensed;
}

main{
 background-image:url('../image/black-and-white-city-skyline-buildings.jpg');
 background-repeat: no-repeat;
background-size: cover;
background-position:center;
   /*background-color:rgba(158, 158, 158,1);*/
 /* background-image: url('../image/library.jpg');*/
 }
.bg-first-row{
    background-image:url('../image/black-and-white-city-skyline-buildings.jpg');
    background-size: 1170px 100%;/*212px;*/
    background-repeat: no-repeat;
}
.bg-secound-row{
      background-color:rgba(158, 158, 158,0.5 );
}

/*.small_side,
.large-side{
  padding-top:3%;
  padding-left:5%;
  padding-right:5%;
}
.small_side{
  background-color:#DBDBDB;

}
.large-side{
  background-color:#E5E3E3;
}*/
p{
  color:#303030;
  font-size: 1.1em;;
  line-height: 25px;
  text-align: justify;
  letter-spacing: 1.2px;
  font-weight: 500;
}
/*.title-blue{
color:#66B2FF;
}*/
.title{
 padding: 0px;
 margin: 0px;
 font-size: x-large;
 color:#FFF;
}

/*.career-container{
      padding-left: 3.1%;
}*/
.career-name{
  font-size: 1.1em;
  color:#fff;
  margin-top: 0;
  margin-bottom: 0;
}

.picture-container{
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 4%;
}
.social-content{
      text-align: end;
}
/*.persone-name-title{
   margin-top: 3%;
}*/

/*.persone-category-title{
margin-bottom: 12%;
}*/


.img-mark{
  width: 200px;
  height: 200px;
}

.full-name{
  margin-top:13%;
  margin-left:4%;
}
.full-name h3{
  font-size: 1.3em;
}
/*.img-mark:after{
  content: "";
  border-left: 0px black solid;
  border-top:1px black solid;
  width: 246%;
  top:98%;
  position: absolute;
}*/

.hexagono-shape{
  display:inline-flex;
  position:relative;
  width: 42px;
  height: 31px;
  background-color:rgb(81, 78, 78);
  justify-content: center;
}

.hexagono-shape:before,
.hexagono-shape:after{
  content:"";
  width:0;
  position:absolute;
  border-left: 22px solid transparent;
  border-right: 20px solid transparent;
}
.hexagono-shape:before{
  bottom:100%;
  border-bottom: 13px solid rgb(81, 78, 78);
}

.hexagono-shape:after{
  top:100%;
  width:0;
  border-top:13px solid rgb(81, 78, 78);
}

.hexagono-shape span{
  color:#FFFFFF;
}
.title_box{
  margin-top: 9%;
  margin-bottom: 10%;
}
/*.large-side .title_box{
      margin-left: 4%;
}*/
/*.line_box{
    display: inline;
    position: relative;
    width:86%;
    padding: 0px;
}*/
.dot-black{
  border: 1px solid black;
  border-radius: 100%;
  width: 60%;
  height: 1.8%;
  background-color:black;
  margin-left: 14%;
}

.education-space{
      margin-bottom: 4%;
}
/*.vertical-line:after{
  content: "+";
  border-right: 1px solid black;
  width: 100%;
}*/
/*.small_side .line_box{
  width:80%;
}*/
/*.line_box:after{
content:"";
position:absolute;
border-left: 0px solid black;
width: 100%;
border-top:1px solid #66B2FF;
top:100%;
}*/
.paragraph{
  /*padding-left:5%;*/
  padding-right:5%;
  text-align: justify;
  letter-spacing: 1.2px;
  color:#fff;
}

.company-name{
   display: list-item;
}
/*.large-side .content_row{
  padding-left: 9%;
padding-right: 6%;
}*/

.education-color-black, .education-color-gray{
  margin: 0;
  margin-bottom: 0.5%;
  padding: 0;
  font-weight: bold;
}

.education-color-gray{
  font-weight:lighter;
  color:#fff;
}

.social-network a, .social-network span{
    font-size: 1.0em;
}
.social-network a{
  color:#fff;
}

.career-container, .secound-one-row-space {
padding-left: 3.1%;
}

.line-upper-div:after{
  content: "";
  position: absolute;
  width: 85%;
  top: 2%;
  border-bottom: 1px solid #fff;
}
.company-position{
  margin-top: 0;
}
.time-work-company{
    color:#fff;
    font-size: 1.1em;
    margin-top:0;
}
.company-worked{
  font-size: 1.0em;
  color: #fff;
  margin-bottom: 0;
  margin-left: 3%;
}

.pad-right-0{
  padding-right: 0;
}

@media print{
  #awesome_print_color{
    color:#ffffff!important;
  }
}
